//Import Variables //
@import './variables/__all';

//Import Mixins //
@import './mixins/__all';

// Import Utils //
@import  './util/__all';

// Import Components //
@import './components/__all';

// Import Sections //
@import './sections/__all';


body {
    position: relative;
    margin: 0;
    background: rgb(0,132,191);
    background: linear-gradient(90deg, rgba(0,132,191,1) 42%, rgba(128,183,76,1) 76%);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}