<footer class="main-footer wow fadeInUp" data-wow-delay="0.3s">
   <div class="container">
       <div class="row">
           <div class="col-lg-4">
               <div class="brand">
                   <img src="../images/brands/biolabfarmaceutica.png" alt="">
               </div>
           </div>
           <div class="col-lg-4 justify-content-lg-center">
            <div class="caption">
                <a href="phone:+5508007246522"></a>
                <sm class="mail">
                    faleconosco@biolabfarma.com.br
                </sm>
            </div>
           </div>
           <div class="col-lg-4 justify-content-lg-end">
            <h3 class="title">
                EVOLUIR É VITAL
            </h3>
           </div>
       </div>
   </div>
</footer>