<footer class="main-footer wow fadeInUp" data-wow-delay="0.3s">
   <div class="container">
       <div class="row">
           <div class="col-6 col-lg-4">
               <a href="#" class="brand">
                   <img src="../images/brands/biolabfarmaceutica.png" alt="">
               </a>
           </div>
           <div class="col-6 col-lg-4 justify-content-lg-center">
            <div class="caption">
                <a href="phone:+5508007246522" class="sac">SAC 0800 724 6522</a>
                <a href="mailto:faleconosco@biolabfarma.com.br">
                    <sm class="mail">
                        faleconosco@biolabfarma.com.br
                    </sm>
                </a>
            </div>
           </div>
           <div class="col-12 col-lg-4 justify-content-lg-end">
            <h3 class="title">
                EVOLUIR É VITAL
            </h3>
           </div>
       </div>
   </div>
</footer>