<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="main-nav__brand wow fadeIn" data-wow-delay="0.3s">
                    <a href="../pages/index.html">
                        <img src="../images/brands/biolabemcasa.png" alt="Logo Paulo Freitas Ribeiro"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 ">
                <form class="search wow fadeInUp" data-wow-delay="0.3s">
                    <label for="search"></label>
                    <div class="search-box">
                        <input type="text" placeholder="Faça sua busca">
                        <button type="submit">
                            <img src="../images/ico/search-white.png" alt=""/>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.4s">
                <div class="contact-tab">
                    <div class="sac">
                        <a href="phone:+5508007246522">
                            SAC 0800 724 6522
                        </a>
                    </div>
                    <div class="social">
                        <a href="#">
                            <img src="../images/ico/ico-facebook.png" alt="#" class="ico">
                        </a>
                        <a href="#">
                            <img src="../images/ico/ico-instagram.png" alt="#" class="ico">
                        </a>
                        <a href="#">
                            <img src="../images/ico/ico-linkedin.png" alt="#" class="ico">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="main-nav wow fadeIn" data-wow-delay="0.2s" id="main-nav">
    <div class="container">
        <div class="main-nav__content">
            <div class="main-nav__menu">
                <buttton
                    class="main-nav__toggler wow fadeInRight"
                    data-wow-delay="0.3s"
                    data-toggle="nav-links">
                    <img src="../images/ico/toggler.png" alt=""/>
                </buttton>
                <ul id="nav-links" class="main-nav__links">
                    <button class="close" data-toggle="nav-links">
                        <buttton class="toggler" data-active="false">
                            <img src="../images/ico/times.png" alt=""/>
                        </buttton>
                    </button>
                    <li class="active">
                        <a href="../pages/index.html">Home</a>
                    </li>
                    <li>
                        <a href="../pages/categorias.html">Categorias</a>
                    </li>
                    <li>
                        <a href="../pages/produtos.html">Produtos</a>
                    </li>
                    <li>
                        <a href="../pages/programa.html">Programa Saúde em Evolução</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>