<header class="main-header">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-7 order-1 col-lg-3">
                <div class="main-header__brand wow fadeInLeft" data-wow-delay="0.3s">
                    <a href="../pages/index.html">
                        <img src="../images/brands/biolabemcasa.png" alt="Logo Paulo Freitas Ribeiro"/>
                    </a>
                </div>
            </div>
            <div class="col-9 order-3 order-lg-2 col-lg-6">
                <form class="main-header__search wow fadeIn" data-wow-delay="0.5s">
                    <a href="#" data-toggle="popup" data-target="popup-cadastro" for="search" class="link">
                       <img src="../images/ico/arrow-right.png" alt=""> Cadastre-se para receber novidades da Biolab
                    </a>
                    <div class="search-box">
                        <input type="text" placeholder="Faça sua busca">
                        <button type="submit">
                            <img src="../images/ico/search-w.png" alt="#"/>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-5 order-2 order-lg-3 col-lg-3 wow fadeInRight" data-wow-delay="0.4s">
                <div class="main-header__contact">
                    <div class="sac">
                        <a href="phone:+5508007246522">
                            SAC 0800 724 6522
                        </a>
                    </div>
                    <div class="social">
                        <a href="#">
                            <img src="../images/ico/ico-facebook.png" alt="#" class="ico">
                        </a>
                        <a href="#">
                            <img src="../images/ico/ico-instagram.png" alt="#" class="ico">
                        </a>
                        <a href="#">
                            <img src="../images/ico/ico-linkedin.png" alt="#" class="ico">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="main-nav wow fadeIn" data-wow-delay="0.2s" id="main-nav">
    <div class="container">
        <div class="main-nav__content">
            <div class="main-nav__menu">
                <buttton
                    class="main-nav__toggler"
                    data-toggle="nav-links">
                    <img class="bars" src="../images/ico/toggler.png" alt=""/>
                    <img class="times" src="../images/ico/times.png" alt=""/>
                </buttton>
                <ul id="nav-links" class="main-nav__links">
                    <li class="active">
                        <a href="../pages/index.html">Home</a>
                    </li>
                    <li>
                        <a href="../pages/categorias.html">Categorias</a>
                    </li>
                    <li>
                        <a href="../pages/produtos.html">Produtos</a>
                    </li>
                    <li>
                        <a href="../pages/programa.html">Programa Saúde em Evolução</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>