<div class="popup visible" id="popup-novosite">
    <div class="popup__content h-sm px-3 px-lg-5">
        <button data-toggle="popup" data-target="#popup-novosite" class="closee">
            <img src="../images/ico/close.png" alt="#"></button>
            <div class="popup__header">
                <h3 class="title">
                    Novo
                    <i>Site</i>
                </h3>
            </div>
            <div class="popup__body">
                <img src="../images/brands/biolabemcasa-b.png" alt="" class="brand"/>
                <p class="desc">
                    O Biolab em Casa mudou e agora está mais próximo de você. Receba seu produto
                    Biolab por meio de nossos parceiros, disponíveis em todo o Brasil.
                </p>
            </div>
        </div>
    </div>

    <div class="popup" id="popup-cadastro">
        <div class="popup__content">
            <button data-toggle="popup" data-target="#popup-cadastro" class="closee">
                <img src="../images/ico/close.png" alt=""></button>
                <div class="popup__body">
                    <h3 class="subtitle">
                        Faça seu cadastro para receber as novidades:
                    </h3>

                    <form id="form-inscricao" class="popup__body-form row" action="#">
                        <div class="col-12">
                            <input class="input-grad" type="text" placeholder="Nome:" name="nome"/>
                        </div>
                        <div class="col-8">
                            <input class="input-grad" type="text" placeholder="Cidade:" name="cidade"/>
                        </div>
                        <div class="col-4">
                            <input class="input-grad" type="text" placeholder="UF:" name="uf"/>
                        </div>
                        <div class="col-12">
                            <input class="input-grad" type="text" placeholder="Telefone:" name="telefone"/>
                        </div>
                        <div class="col-12">
                            <input class="input-grad" type="text" placeholder="Email:" name="email"/>
                        </div>
                        <div class="col-12">
                            <input
                                class="input-grad"
                                type="text"
                                placeholder="Confirmação de e-mail:"
                                name="emailconfirm"/>
                        </div>

                        <div class="col-12">
                            <small>
                                *Todos os campos são de preenchimento obrigatório
                            </small>
                        </div>

                        <div class="col-12 pt-2 pt-lg-3">
                            <label class="custom-radio" for="politicas">
                                <input type="checkbox" id="politicas" name="politicas"/>
                                <span class="mask"></span>
                                <span class="text">Declaro que, ao clicar no botão ENVIAR, abaixo, estou de
                                    acordo com as Políticas de Privacidade e os Termos de Uso definidos pela Biolab.</span>
                            </label>
                        </div>

                        <div class="col-12">
                            <label class="custom-radio" for="newsletter">
                                <input type="checkbox" id="newsletter" name="newsletter"/>
                                <span class="mask"></span>
                                <span class="text">Desejo receber por e-mail informações sobre produtos,
                                    marcase serviços oferecidos pela Biolab e por suas empresas coligadas.</span>
                            </label>
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <div>
                                <button class="btn-blue" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="popup" id="popup-explorer">
            <div class="popup__content">
                <button data-toggle="popup" data-target="#popup-explorer" class="closee">
                    <img src="../images/ico/close.png" alt=""></button>
                    <div class="popup__body px-2 px-lg-4">
                        <img src="../images/brands/biolabemcasa-b.png" alt="" class="brand"/>

                        <div class="popup__header sm">
                            <h3 class="title">
                                Notamos que você está usando o navegador Internet Explorer.
                            </h3>
                        </div>

                        <p class="desc mx-0 pt-2 px-2 px-lg-5">
                            Nós não recomendamos usá-lo como o navegador padrão, já que o navegador está
                            suscetível a falhas de segurança e bugs de execução.<br/>Utilize outro navegador para ter uma experiência ainda melhor em nosso site.
                        </p>

                        <div class="d-flex justify-content-center">
                            <button
                                class="btn-outline-grad"
                                data-toggle="popup"
                                data-target="#popup-explorer">
                                <span class="text">
                                    Ok, estou ciente
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>