.home-produtos {
  
    &__title {
        font-family: 'Trebuchet Bold';
        font-weight: bold;
        background-color: #0091C3;
        color: #fff;
        padding-top: 4px;
        padding-bottom: 0;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: $bp-MD) {
            padding: 3px 0 0;
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .title {
            font-size: 26px;

            @media screen and (max-width: $bp-LG) {
                font-size: 24px;
            }
            @media screen and (max-width: $bp-MD) {
                font-size: 16px;
            }
            
            @media screen and (max-width: 330px) {
                font-size: 14px;
            }
        }
    }

    &__buttons {

        @media screen and (max-width: $bp-MD) and (max-height: 800px){
            padding: 3px;
        }

        &-item {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background: none;
            border: none;
            width: 100%;
            margin-bottom: 16px;
            z-index: 6;
            @include transition();

            &:hover {
               img, .title{
                @include scale(1.06);
               }
            }

            &:focus {
                outline: none;
            }

            *{
                z-index: 2;
            }

            @media screen and (max-width: $bp-MD) and (max-height: 800px){
                margin-bottom: 3px;
            }

            &[data-active="true"]{
                z-index: 10;

                .title{
                    color: #4cd4f3 !important;
                }

                img{
                    filter: brightness(0) invert(1);
                }

                
                .overlay{
                    &::after{
                        opacity: 1;
                        pointer-events: all;
                    }
                    .desc{
                        display: block;
                    }
                }
                
            }

            .title {
                font-family: 'Trebuchet';
                text-transform: uppercase;
                font-size: 18px;
                text-align: center;
                max-width: 150px;
                color: #868686;
                @include transition();

                @media screen and (max-width: $bp-LG) {
                    font-size: 16px;
                }
                @media screen and (max-width: $bp-MD) {
                    font-size: 14px;
                }
                @media screen and (max-width: $bp-SM) {
                    font-size: 10px;

                    &.is-lg {
                        font-size: 9px;
                    }
                }
            }

            img {
                width: 83px;
                object-fit: contain;
                object-position: center center;
                margin-bottom: 5px;
                @include transition();
                
                @media screen and (max-width: $bp-LG) {
                    width: 63px;
                }
                @media screen and (max-width: $bp-SM) {
                    width: 48px;
                }
            }

            .overlay{
                position: absolute;
                left: 0;
                top: 0px;
                width: 100%;
                padding-top: 140px;
                height: auto;
                z-index: 1;
                padding-bottom: 5px;

                @media screen and (max-width: $bp-LG){
                    padding-top: 120px;
                }

                @media screen and (max-width: $bp-MD) and (max-height: 800px){
                    padding-top: 85px;
                    width: 140%;
                }

                @media screen and (max-width: $bp-MD) and (min-height: 800px){
                    padding-top: 105px;
                    width: 140%;
                }

                .desc {
                    margin-bottom: 0;
                    padding-bottom: 2px;
                    padding-left: 30px;
                    margin-right: -30px;
                    text-align: left;
                    display: none;
                    text-transform: uppercase;
                    color: #fff;
                    z-index: 2;
                    animation: fadeIn 0.4s;

                    @media screen and (max-width: $bp-LG){
                        padding-left: 10px;
                        font-size: 13px;
                        padding-right: 5px;
                    }

                    @media screen and (max-width: $bp-MD) and (max-height: 800px){
                        font-size: 9px;
                        padding-left: 0;
                        margin-right: 0;
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    left: 16px;
                    top: -2%;
                    width: 107%;
                    height: 105%;
                    background-color: #868686;
                    z-index: -1;
                    opacity: 0;
                    pointer-events: none;
                    border-radius: 15px;
                    @include transition();

                    @media screen and (max-width: $bp-LG){
                        left: -10px;
                        width: 120%;
                    }
                }
            }
        }
    }

}
