.main-header {
    padding-top: 60px;

    @media screen and (max-width: $bp-LG){
        padding-left: 20px;
        padding-right: 19px;
        padding-top: 40px;
    }

    @media screen and (max-width: $bp-SM){
        padding-left: 0px;
        padding-right: 0;
        margin-bottom: 10px;
        padding-top: 30px;
    }

    

    &__brand {
        img {
            display: block;
            width: 310px;
            margin-left: 20px;
            @include transition();

            @media screen and (max-width: $bp-MD){
                width: 220px;
            }

            @media screen and (max-width: $bp-SM){
                width: 180px;
            }

            @media screen and (max-width: 330px){
                width: 130px;
            }

            &:hover {
                @include scale(1.02);
            }
        }
    }

    &__search {
        padding-left: 105px;
        padding-top: 35px;

        @media screen and (max-width: $bp-LG){
            padding-top: 25px;
            padding-left: 0;
            text-align: right;
            margin-left: auto;
        }

        @media screen and (max-width: $bp-SM){
            padding-top: 10px;
        }

        .link {
            display: block;
            color: #fff;
            margin-bottom: 8px;
            @include transition();

            @media screen and (max-width: $bp-LG){
                text-align: left;
                padding-left: 5px;
            }

            @media screen and (max-width: $bp-MD){
                text-align: left;
                margin-bottom: 10px;
                padding-left: 5px;
                font-size: 15px;
            }

            @media screen and (max-width: $bp-SM){
                font-size: 11px;
                margin-bottom: 6px;
            }

            @media screen and (max-width: 330px){
                font-size: 10px;
            }


            &:hover {
                margin-left: 7px;
            }

            .img {
                margin-right: 6px;
                width: 18px;

                @media screen and (max-width: $bp-SM){
                    width: 12px;
                }
            }
        }

        .search-box {
            position: relative;

            @media screen and (max-width: $bp-LG){
                order: 2;
            }

            input {
                background: none;
                font-size: 15px;
                border: 1.6px solid #fff;
                border-radius: 6px;
                width: 92%;
                color: #fff;
                padding: 3.5px 20px;

                @media screen and (max-width: $bp-SM){
                    padding-top: 2px;
                    padding-bottom: 2px;
                    font-size: 13px;
                    padding-left: 15px;
                }

                @media screen and (max-width: $bp-LG){
                    width: 100%;
                }

                &:focus{
                    outline: none;
                }

                &::placeholder {
                    color: rgba(255, 255, 255, 0.373);
                }
            }

            @media screen and (max-width: $bp-LG){
                width: 100%;
            }

            button {
                position: absolute;
                top: 2px;
                right: 38px;
                background: none;
                border: none;

                @media screen and (max-width: $bp-LG){
                    right: 5px;
                }

                @media screen and (max-width: $bp-SM){
                    top: -.8px;
                    right: 13px;
                    width: 18px;
                }

                img {
                    width: 24px;

                    @media screen and (max-width: $bp-SM){
                        width: 18px;
                    }

                    @include transition();
                    &:hover {
                        @include scale(1.1);
                    }
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        padding-top: 38px;
        padding-right: 18px;

        @media screen and (max-width: $bp-LG){
            padding-top: 0;
        }

        @media screen and (max-width: $bp-SM){
            padding-right: 5px;
        }

        .sac {
            display: block;
            font-family: 'Kyrial B';
            font-size: 19px;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media screen and (max-width: $bp-MD){
                font-size: 16px;
                margin-bottom: 10px;
            }

            @media screen and (max-width: $bp-SM){
               font-size: 11px;
               margin-bottom: 6px;
            }

            @media screen and (max-width: 330px){
                font-size: 10px;
            }


            a {
                color: #fff !important;
            }

        }

        .social {
            a {
                &:not(:first-child) {
                    margin-left: 40px;

                    @media screen and (max-width: $bp-MD){
                        margin-left: 40px;
                    }

                    @media screen and (max-width: $bp-SM){
                        margin-left: 20px;
                    }

        
                }

                img {
                    height: 26px;
                    @include transition();

                    @media screen and (max-width: $bp-MD){
                        height: 22px;
                    }

                    @media screen and (max-width: $bp-SM){
                        height: 18px;
                    }

                    @media screen and (max-width: 330px){
                        height: 16px;
                    }
        

                    &:hover {
                        @include scale(1.1);
                    }
                }
            }
        }
    }
}

.main-nav {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    z-index: 10;
    margin-top: 20px;
    
    @media screen and (max-width: $bp-LG) {
        padding-left: 20px;
        margin-bottom: -6px;
        margin-top: -2px;
    }

    @media screen and (max-width: $bp-SM){
        padding-left: 10px;
    }

    &__links {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100.9%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2px 3px;
        border-radius: 14px;
        z-index: 12;
        
        @media screen and (max-width: $bp-LG) {
            background-color: rgba(0, 145, 195, .89);
            width: 300px;
            flex-direction: column;
            padding: 4px 3px;
            position: absolute;
            left: 80px;
            top: -60px;
            opacity: 0;
            width: 420px;
            transition: all 0.4s;
            pointer-events: none;
            z-index: 10;
            overflow: hidden;
            transform: translateY(-30px);
            padding: 8px 6px;
            padding-left: 30px;
        }

        @media screen and (max-width: $bp-SM){
            width: 300px;
            left: 16px;
            top: -53px;
        }

        @media screen and (max-width: 330px) {
            width: 270px;
        }

        &.active {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0px);
        }

        li {
            position: relative;
            color: #fff;
            font-size: 18px;
            width: 33%;
            text-align: center;
            white-space: nowrap;

            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 4px;
                    height: 76%;
                    width: 1px;
                    background-color: #fff;

                    @media screen and (max-width: $bp-LG){
                        width: 80%;
                        height: 1.5px;
                        left: 50%;
                        bottom: 3px;
                        top: unset;
                        transform: translateX(-50%);
                    }

                    @media screen and (max-width: $bp-SM){
                        height: 1px;
                        width: 90%;
                    }
                }
            }

            @media screen and (max-width: $bp-LG) {
                font-size: 18px;
                width: 80%;
                padding: 10px 0;
            }

            @media screen and (max-width: $bp-SM){
                font-size: 14px;
            }

            @media screen and (max-width: 330px) {
                font-size: 12px;
            }
            
            &.active,
            &:hover {
                color: #fff;
            }

            a {
                display: block;
                font-family: 'Trebuchet', sans-serif;
                font-weight: normal;
                text-transform: uppercase;
                color: inherit;
                transition: all 0.4s;
                @include transition();

                @media screen and (max-width: $bp-LG){
                    max-width: 160px;
                    margin: 0 auto;
                    white-space: normal;
                }

                @media screen and (max-width: $bp-SM){
                    max-width: 130px;
                }

                &:hover{
                    @include scale(1.03);
                }
            }
        }

        .close {
            position: absolute;
            top: 14px;
            right: 23px;
            opacity: 1;
            outline: none !important;

            img {
                width: 11px;
            }
        }
    }

    &__toggler {
        display: none;
        position: relative;
        transform: translateY(-36px);
        padding-left: 20px;
        width: 40px;
        z-index: 12;
        cursor: pointer;

        @media screen and (max-width: $bp-LG){
            display: block;
        }
        
        @media screen and (max-width: $bp-SM){
            padding-left: 5px;
        }

        @media screen and (max-width: 330px){
            padding-left: 0;
            transform: translateY(-40px);
        }

        img{
            width: 38px;
        }

        .times{
            display: none;
            width: 30px;

            @media screen and (max-width: $bp-LG){
                width: 23px;
                margin-left: -10px;
            }

            @media screen and (max-width: $bp-SM){
                width: 20px;
                margin-left: 0;
            }

            @media screen and (max-width: 330px) {
                width: 18px;
                margin-top: 2px;
                margin-left: 5px;
            }
        }

        .bars{
            display: block;

            @media screen and (max-width: $bp-LG){
                width: 33px;
                margin-left: -10px;
            }

            @media screen and (max-width: $bp-SM){
                width: 26px;
                margin-left: 0;
            }

            @media screen and (max-width: 320px){
                width: 24px;
            }
        }

        &.active{
            .bars{
                display: none;
            }

            .times{
                display: block;
            }
        }
    }
}
